
 @media (min-width:1280px) and (max-width:1650px) {
  .container_tour_flex_adaptive {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .cart_adaptive {
    position: relative;
    border: 1px solid rgba(130, 126, 126, 0.244);
    border-radius: 10px;
    margin-top: 20px;
    width: 650px;
  }

  .title_adaptive {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #143d62;
  }
    
 }
 
 
 @media  (min-width: 1024px) and (max-width:1280px) {
  
  .container_tour_flex_adaptive {
    width: 1024px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .cart_adaptive {
    position: relative;
    border: 1px solid rgba(130, 126, 126, 0.244);
    border-radius: 10px;
    margin-top: 20px;
    width: 500px;
  }

  .title_adaptive {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #143d62;
  }
    

 }





.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  transition: 0.8s;
}

.overlay:hover {
  display: block;
  background-color: rgb(0, 0, 0, 0.5);
}



.cart_img {
  background-image: url(../../img/img_cpntainerTour/alanya.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.cart_img2 {
  background-image: url(../../img/img_cpntainerTour/rafting.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 8px;
}



.button {
  position: absolute;
  width: 100%;
  background-color: rgba(12, 74, 129, 0);
  border: none;
  left: 0;
  top: 45%;
  text-align: center;
  transition: opacity 0.35s ease;
}

.a {
  padding: 15px 40px;
  text-align: center;
  background-color: rgba(31, 31, 68, 0.793);
  text-decoration: none;
  border-radius: 20px;
  color: white;
  opacity: 0;
  transition: 0.8s;
}

.overlay:hover a {
  text-decoration: none;
  color: white;
  opacity: 1;
}

.cart_img3 {
  background-image: url(../../img/img_cpntainerTour/kemer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.cart_img4 {
  background-image: url(../../img/img_cpntainerTour/antalya.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.cart_h1 {
  width: 380px;
  height: 50px;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 10px;
}

.cart_h2 {
  width: 380px;
  font-size: 20px;
  color: rgb(96, 104, 115);
  margin-left: 10px;
  margin-bottom: 25px;
}

.cart_block {
  margin-top: 50px;
}

.cart_flex {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  width: 380px;
}

.span {
  color: rgb(25, 79, 155);
}

.IconContainer {
  position: fixed;
  width: 60px;
  top: 50%;
  right: 10px;
  z-index: 9999;
}
.block_icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: rgb(207, 210, 101);
  color: rgb(10, 0, 117);
  margin: 8px;
  font-size: 35px;
  transition: 0.6s;
}

.block_icon:hover {
  font-size: 30px;
  color: white;
  background-color: #143d62;
}
